$spacer-char: "❧";

$text-color: black;
$text-color-light: rgb(153, 153, 153);

$title-color: black;
$subtitle-color: black;

$link-color: rgb(0, 136, 204);
$link-color-hover: darken($link-color, 15%);
