body > nav {
  position: absolute !important;
  top: 1em;
  width: 100%;
  li a {
    color: $link-color !important;
    &:hover { color: $link-color-hover !important; }
  }
}

#search_listbox {
  display: none;
  left: 10px;
  width: 216px;
}

body {
  padding-top: 60px;
}
