{% unless page.no_header %}
  <header>
    {% if index %}
      {% if post.thumbnail %}
      <div class="post-thumbnail"><a href="{{ root_url }}{{ post.url }}"><img alt="" src="{{post.thumbnail}}" width="150"/></a></div>
      {% endif %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      {% if page.cover and site.cover_width %}
        {% if page.cover_link %}
          <div data-caption="{{ page.cover_caption }}" class="cover-image"><a href="{{ page.cover_link }}"><img alt="" src="{{ page.cover }}" width="{{ site.cover_width }}"/></a></div>
        {% else %}
          <div data-caption="{{ page.cover_caption }}" class="cover-image"><img alt="" src="{{ page.cover }}" width="{{ site.cover_width }}"/></div>
        {% endif %}
      {% endif %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  {% if post.excerpt %}
  <div class="entry-content">{{ post.excerpt }}</div>
  {% else %}
    {% if post.description %}
    <div class="entry-content">{{ post.description | strip_html | truncatewords: site.excerpt_max_length }}</div>
    {% else %}
    <div class="entry-content">{{ content | excerpt | strip_html | truncatewords: site.excerpt_max_length }}</div>
    {% endif %}
  {% endif %}
{% else %}
<div class="entry-content lettrine">{{ content }}</div>
{% endif %}
