<div class="nav-collapse collapse">
<ul class="nav subscription pull-right" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" rel="alternate" data-type="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  {% if site.subscribe_email %}
    <li class="divider-vertical"></li>
    <li><a href="{{ site.subscribe_email }}" data-type="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.simple_search %}
<form class="navbar-search pull-right" action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="sites" value="{{ site.url | shorthand_url }}" />
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search search-query" type="text" id="q" name="q"
      placeholder="Search"
      {% if site.search_posts %}autocomplete="off"{% endif %} />
  </fieldset>
  {% if site.search_posts %}
  <ul class="dropdown-menu" role="listbox" id="search_listbox">
    {% for post in site.posts %}
    <li data-index="{{ post.title | strip_html | downcase | escape }} {{ post.excerpt | strip_html | downcase | escape }} {{ post.description | strip_html | downcase| escape }}">
      <a tabindex="-1" href="{{ post.url }}">{{ post.title | truncate: 25 }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</form>
  {% endif %}
</div>
{% include custom/navigation.html %}
